

<form action="/songs" method="post">
  <label>Song Name:</label>
  <br>
  <input type="text" name="song[name]" id = "Name">

  <br>
  <p>Select an existing artist or create a new one below.</p>

  <label>Artist Name: </label>
  <br>
  <input type="text" name="artist[name]" id="Artist Name"></input>
  <br><br>

  <h3>Select Genre</h3>

  <% Genre.all.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>">
  <% end %>


  <input type="submit" value="Create Song">
</form>
